.navbar-brand>img {
  width:120px !important;
}

#duke-logo-box.navbar-brand {
  margin-bottom:25px !important;
}

.navbar-nav {
  margin-top:15px !important;
  margin-right:-15px !important;
  margin-bottom:-15px !important;
  margin-left:5px !important;
}
