*{
  font-family: "Open Sans";
}

.navbar-brand>img {
  width:120px !important;
}

.navbar-custom {
  background-color: #CDB6ED;
}

.nav-link {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.navbar-collapse {
  border-left: 2px solid;
  color: white;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: 131px;
}

footer {
  text-align: center;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 131px;
  line-height: 131px;
  background-color: #CDB6ED;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
}