.alert {
  text-align: center;
  color: #D04545;
  background-color: #FFC6C6;
}

.card {
  background-color: #E5E5E5;
  padding: 2%;
}

body {
  font-weight: 400;
}

.form-control-label {
  font-weight: 600;
}

.btn {
  background-color: #F4F4F4;
  color: black;
}

h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}