.container {
  margin: 0 auto;
}
h1 {
  font-family: 'Merriweather', sans-serif;
}

footer {
  text-align: center;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
