h1 {
  font-family: 'Merriweather', sans-serif;
}


footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
