.container {
    margin: 0 auto;
  }

  .card {
    border-radius: 20px !important;
    overflow: hidden;
  }
  
  h1 {
    font-family: 'Merriweather', sans-serif;
  }
  
  .form-control-label {
    font-size: 16px;
    font-weight: 600;
    text-align: right;
  }
  
  .form-group {
    text-align: left;
  }
  
  .btn {
    background-color: #F4F4F4;
    color: black;
  }