.btn-primary {
  background: #012169;
}

.display-4 {
  text-align: center;
}

.lead {
  text-align: center;
}

#please-click {
  text-align: center;
}

.card-title {
  color: #012169;
}

.card-text {
  color: #012169;
}

footer {
  text-align: center;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
