h1 {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

h5 {
  font-size: 24px;
  text-align: left;
  color: white;
}

.card-img {
  height: auto;
  width: 100%;
}

#card-1 {
  background-color: #CDB6ED;
}

#card-2 {
  background-color: #B69BDA;
}

#card-3 {
  background-color: #9F85C1;
}

p {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 14px;
  color: white;
}

body {
  background: #f5f5f5;
}