h1 {
  font-family: 'Merriweather', sans-serif;
}
.container {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #d1bdac;
  padding: 5%;
}

h3 {
  font-family: 'Merriweather', sans-serif;
}

p {
  margin-top: 25px;
  margin-bottom: 25px;
}

footer {
  text-align: center;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

body {
  background-color: #acc0d1;
}