h1 {
  font-family: 'Merriweather', sans-serif;
}
.container {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #d1bdac;
  padding: 5%;
}

.btn-primary {
  background: #012169;
}

h3 {
  font-family: 'Merriweather', sans-serif;
}

body {
  background-color: #acc0d1;
}