{% extends "base-admin.html" %}

{% block content %}

<br>
<div class="row justify-content-center mb-2">
    <h1 class="mb-3">Recent Updates</h1>
</div>
<div class="row">
    <div class="d-flex col-12 flew-row justify-content-end">
        <!-- <div class="mr-2">
            <label for="filter_by">Filter by</label>
            <select name="filter_by" id="filter_by">
                {% if not filter_by %}
                    <option value="" selected disabled></option>
                {% endif %}
                {% for field in update_fields %}
                    {% if filter_by and field == filter_by %}   
                        <option value="{{ field }}" selected>{{ field.replace('_', ' ').capitalize() }}</option>
                    {% else %}
                        <option value="{{ field }}">{{ field.replace('_', ' ').capitalize() }}</option>
                    {% endif %}
                {% endfor %}
                {% for field in user_fields %}
                    {% if filter_by and field == filter_by %}   
                        <option value="{{ field }}" selected>{{ field.replace('_', ' ').capitalize() }}</option>
                    {% else %}
                        <option value="{{ field }}">{{ field.replace('_', ' ').capitalize() }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="mr-2">
            <label for="filter">Filter Condition</label>
            <select name="filter" id="filter"></select>
        </div> -->
        <div class="mr-2 align-self-center">
            <label for="sort_by">Sort by</label>
            <select name="sort_by" id="sort_by">
                {% if not sort_by %}
                    <option value="" selected disabled></option>
                {% endif %}
                {% for field in update_fields %}
                    {% if sort_by and field == sort_by %}   
                        <option value="{{ field }}" selected>{{ field.replace('_', ' ').capitalize() }}</option>
                    {% else %}
                        <option value="{{ field }}">{{ field.replace('_', ' ').capitalize() }}</option>
                    {% endif %}
                {% endfor %}
                {% for field in user_fields %}
                    {% if sort_by and field == sort_by %}   
                        <option value="{{ field }}" selected>{{ field.replace('_', ' ').capitalize() }}</option>
                    {% else %}
                        <option value="{{ field }}">{{ field.replace('_', ' ').capitalize() }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
         <div class="align-self-center">
            <label for="sort_order">Order</label>
            <select name="sort_order" id="sort_order">
                {% if not sort_order %}
                    <option value="" selected disabled></option>
                {% endif %}
                {% if sort_order == 'asc'%}
                    <option value="asc" selected>Asc</option>
                {% else %}
                    <option value="asc">Asc</option>
                {% endif %}
                {% if sort_order == 'desc'%}
                    <option value="desc" selected>Desc</option>
                {% else %}
                    <option value="desc">Desc</option>
                {% endif %}
            </select>
        </div>
        <button type="button" class="btn btn-primary mx-2" onclick=sort()>Sort</button>
        {% if filtered %}
            <button id="createFilter" type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#filterModal" style="display:none;">
                Create Filter
            </button>
            <button id="removeFilter" type="button" class="btn btn-danger mx-2" data-toggle="modal" data-target="#filterModal" style="display:inline;" onclick="window.location.href='/admin_dashboard'">
                Remove Filter
            </button>
        {% else %}
            <button id="createFilter" type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#filterModal" style="display:inline;">
                Create Filter
            </button>
            <button id="removeFilter" type="button" class="btn btn-danger mx-2" data-toggle="modal" data-target="#filterModal" style="display:none;" onclick="window.location.href='/admin_dashboard'">
                Remove Filter
            </button>
        {% endif %}
        <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#downloadModal">
            Download Data
        </button>
    </div>
</div>

<!-- Table -->
<div class="row col-12 py-5">
    <div class="col-lg-10 mx-auto">
        <div class="card rounded shadow border-0">
            <div class="card-body p-5 bg-white rounded">
                <div class="table-responsive">
                    <table id="admin-dashboard" style="width:100%; text-align:center" class="table table-striped table-bordered">
                        <thead style="font-weight:bold">
                        {% for field in update_fields %}
                            {% if field == 'id' %}
                                <td><input type="checkbox" onclick="checkAll(this)">  Id</td>
                            {% else %}
                                <td>{{ field.replace('_', ' ').capitalize() }}</td>
                            {% endif %}
                        {% endfor %}
                        {% for field in user_fields %}
                            <td>{{ field.replace('_', ' ').capitalize() }}</td>
                        {% endfor %}
                        </thead>
                        {% for update in updates.items %}
                        <tr>
                            {% for field in update_fields %}
                                {% if field == 'id' %}
                                    <th><input type="checkbox" name="">  {{ update[field] }}</th>
                                {% elif field == 'timestamp'%}
                                    <th>{{ update[field].strftime('%m/%d/%Y   %H:%M') }}</th>
                                {% else %}
                                    <th>{{ update[field] }}</th>
                                {% endif %}
                            {% endfor %}
                            {% for field in user_fields %}
                                <th>{{ update.user[field] }}</th>
                            {% endfor %}
                        </tr> 
                        {% endfor %}
                    </table>
                    <div class="mr-2">
                        <label for="per_page">Updates Per Page</label>
                        <select name="per_page" id="per_page" onchange=per_page(this.id)>
                            {% for i in range(5,21,5) %}
                                {% if i == updates.per_page %}
                                    <option value="{{ i }}" selected>{{ i }}</option>
                                {% else %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% for page_num in updates.iter_pages() %}
                        {% if page_num %}
                            {% if updates.page == page_num %}
                                <option id="{{ page_num }}" class="btn btn-info mb-3" value="{{ page_num }}" onclick=page(this.id) >{{ page_num }}</option>
                            {% else %}
                                <option id="{{ page_num }}" class="btn btn-outline-info mb-3" value="{{ page_num }}" onclick=page(this.id) >{{ page_num }}</option>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CSV Download Modal -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Fields to be Included in Downloaded Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="modal-form" action="{{ url_for('admin_dashboard') }}" method="post">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <div class="d-flex flex-column">
                                    {% for field in update_fields %}
                                    <div class="p-2 text-left">
                                        <input class="form-check-input" type="checkbox" name="{{ field }}" value="{{ field }}">
                                        <label class="form-check-label" for="{{ field }}">
                                            {{ field.replace('_', ' ').capitalize() }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                    {% for field in user_fields %}
                                    <div class="p-2 text-left">
                                        <input class="form-check-input" type="checkbox" name="{{ field }}" value="{{ field }}">
                                        <label class="form-check-label" for="{{ field }}">
                                            {{ field.replace('_', ' ').capitalize() }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Download Data</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Create Filter Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Select Filter(s)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- <form id="modal-form" action="{ }}" method="get"> -->
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <div class="d-flex flex-column">
                                    <div class="p-2 text-left">
                                        <label for="start_date">From</label>
                                        <input id="start_date" width="276" value="{{ start }}"/>   
                                    </div>
                                    <div class="p-2 text-left">
                                        <label for="end_date">To</label>
                                        <input id="end_date" width="276" value="{{ end }}"/>
                                    </div>
                                    <!-- {% for field in update_fields %}
                                    <div class="p-2 text-left">
                                        <input class="form-check-input" type="checkbox" name="{{ field }}" value="{{ field }}">
                                        <label class="form-check-label" for="{{ field }}">
                                            {{ field.replace('_', ' ').capitalize() }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                    {% for field in user_fields %}
                                    <div class="p-2 text-left">
                                        <input class="form-check-input" type="checkbox" name="{{ field }}" value="{{ field }}">
                                        <label class="form-check-label" for="{{ field }}">
                                            {{ field.replace('_', ' ').capitalize() }}
                                        </label>
                                    </div>
                                    {% endfor %} -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" onclick=filter()>Apply Filter</button>
                </div>
            <!-- </form> -->
        </div>
    </div>
</div>

<script>
    $('#start_date').datepicker({
        uiLibrary: 'bootstrap4'
    });

    $('#end_date').datepicker({
        uiLibrary: 'bootstrap4'
    });

    document.addEventListener('DOMContentLoad', function() {

    }, false)

    $(function(){
       $('#modal-form').on('submit', function(e){
            e.preventDefault();

            var fields = document.querySelector('.form-check-input').checked;

            $.ajax({
                url: "{{ url_for('admin_dashboard') }}",
                type: "POST",
                data: fields,
            });
       }); 
    });

    function checkAll(bx) {
        var cbs = document.getElementsByTagName('input');
        for(var i=0; i < cbs.length; i++) {
            if(cbs[i].type == 'checkbox') {
                cbs[i].checked = bx.checked;
            }
        }
    }

    function filter_vals() {
        var filter_by = document.getElementById('filter_by').value;
        var filter = document.getElementById('filter');
        var filter_values = JSON.parse(document.getElementById(filter_field).value);

        filter.innerHTML = '';
        opt = document.createElement('option');
        opt.value = "";
        filter.appendChild(opt)
        
        for(i = 0; i < filter_values.length; i++) {
            var opt = document.createElement('option');
            opt.value = filter_values[i];
            opt.innerHTML = filter_values[i];
            filter.appendChild(opt);
        }    
    }

    function filter() {
        // var filter_by = document.getElementById('filter_by').value;
        // var filter = document.getElementById('filter').value;
        // var sort_by = document.getElementById('sort_by').value != '' ? document.getElementById('sort_by').value : 'timestamp';
        // var sort_order = document.getElementById('sort_order').value != '' ? document.getElementById('sort_order').value : 'desc';

        var start = document.getElementById('start_date').value;
        var end = document.getElementById('end_date').value;
        
        document.getElementById('createFilter').style.display = "none";
        document.getElementById('removeFilter').style.display = "inline";
        
        // window.location.href='/admin_dashboard?filter_by='+filter_by+'&filter='+filter+'&sort_by='+sort_by+'&sort_order='+sort_order;
        window.location.href='/admin_dashboard?start_date='+start+'&end_date='+end;
    }

    function removeFilter() {
        document.getElementById('createFilter').style.display = "inline";
        document.getElementById('removeFilter').style.display = "display";
        
        window.location.href='/admin_dashboard';
    }

    function per_page(per_page_id) {
        var sort_by = document.getElementById('sort_by').value;
        var sort_order = document.getElementById('sort_order').value;
        var start = document.getElementById('start_date').value;
        var end = document.getElementById('end_date').value;
        var per_page = document.getElementById('per_page').value;
        
        window.location.href='/admin_dashboard?per_page='+per_page+'&sort_by='+sort_by+'&sort_order='+sort_order+'&start_date='+start+'&end_date='+end;
    }

    function page(page_id) {
        var sort_by = document.getElementById('sort_by').value;
        var sort_order = document.getElementById('sort_order').value;
        var start = document.getElementById('start_date').value;
        var end = document.getElementById('end_date').value;
        var per_page = document.getElementById('per_page').value;
        var page_num = document.getElementById(page_id).value; 
        
        window.location.href='/admin_dashboard?per_page='+per_page+'&page='+page_num+'&sort_by='+sort_by+'&sort_order='+sort_order+'&start_date='+start+'&end_date='+end;
    }

    function sort() {
        var start = document.getElementById('start_date').value;
        var end = document.getElementById('end_date').value;
        var sort_by = document.getElementById('sort_by').value;
        var sort_order = document.getElementById('sort_order').value;
        var per_page = document.getElementById('per_page').value;

        window.location.href='/admin_dashboard?sort_by='+sort_by+'&sort_order='+sort_order+'&per_page='+per_page+'&start_date='+start+'&end_date='+end;
    }

</script>
{% endblock %}