{% extends "base-admin.html" %}

{% block content %}
<center>
<br>
<h1>Recent Updates</h1>
<div class="row py-5">
    <div class="col-lg-10 mx-auto">
        <div class="card rounded shadow border-0">
            <div class="card-body p-5 bg-white rounded">
                <div class="table-responsive">
                    <table id="admin-dashboard" style="width:100%" class="table table-striped table-bordered">
                        <thead>
                        <td>ID</td>
                        <td>User ID</td>
                        <td>Organization</td>
                        <td>Number of Victims</td>
                        <td>Capacity</td>
                        <td>Timestamp</td>
                        </thead>
                        {% for row in data %}
                        <tr>
                            <th> {{ row[0].id }}</th>
                            <th> {{ row[0].user_id }}</th>
                            <th> {{ row[1].organization }}</th>
                            <th> {{ row[0].number_of_victims }}</th>
                            <th> {{ row[0].capacity }}</th>
                            <th> {{ row[0].timestamp }}</th>
                        </tr> 
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</center>
{% endblock %}