{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block styles %}
  {{ super() }}
    <link href="{{ url_for('static', filename='styles/form.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">How to apply</div>
                <div class="card-body">
                    <h5>
                        Due to privacy concern, users cannot register an account on their own. If you would like to be part of....please...
                    </h5>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}