{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='styles/research.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">Your next collection date is ______</p>
    <hr>
    <p>
      Having trouble? <a href="{{ url_for('contact_us') }}">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-md" href="{{ url_for('logout') }}" role="button">Logout</a>
    </p>
  </div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Duke University Domestic Violence Data Pipeline Project</span>
    </div>
</footer>
{% endblock %}
