{% extends "base.html" %}

{% block styles %}
  {{ super() }}
    <link href="{{ url_for('static', filename='styles/research.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container align-items-center">
  <h1 class="text-center mt-5">Contact Us</h1>
  <p class="text-center mb-5">Please feel free to reach out at any time regarding questions or concerns about this collection!</p>
  <h4 class="text-center my-3">(919) 396-3881</h4>
  <p class="text-center">Available Mon-Sun from 9am-9pm EST</p>
  <h4 class="text-center my-3">tianjiu.zuo@duke.edu</h4>
  <p class="text-center">Please feel free to email me at any time at all. I will get back to you as soon as possible.</p>
</div>
<footer class="footer">
  <div class="container">
    <span class="text-muted">Duke University Domestic Violence Data Pipeline Project</span>
    </div>
</footer>
{% endblock %}
