{% extends template %}

{% block styles %}
  {{ super() }}
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Duke University Domestic Violence Data Pipeline Project</h1>
      <p class="lead">Making North Carolina a safer and smarter place through data analysis for better decision-making</p>
      <hr class="my-4">
      <p id="please-click">Please click the button below to begin the data entry process.</p>
      <p class="lead">
        <a href="{{ url_for('terms_and_privacy') }}" class="btn btn-primary btn-lg">Collection Form</a>
      </p>
    </div>
    <div class="row ml-2 mr-2">
        <div class="col">
            <a href="{{ url_for('disclosure') }}">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">About our data protection and handling practices</h5>
                        <p class="card-text">Learn more about how we are protecting and handling the data.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="{{ url_for('research') }}">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">About our research</h5>
                        <p class="card-text">Learn more about what we do with the data we collect and how we can help you.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="{{ url_for('team') }}">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">About our team</h5>
                        <p class="card-text">Learn more about our team and the people working on this project.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="{{ url_for('contact_us') }}">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Contact us</h5>
                        <p class="card-text">If you need to get in touch with us, please find it here.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="container">
      <h4 class="my-5 text-center">Days until next scheduled collection:</h4>
      <h4 class="my-5 text-center">Date of next scheduled collection:</h4>
    </div>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Duke University Domestic Violence Data Pipeline Project</span>
        </div>
    </footer>
{% endblock %}
