{% extends "base.html" %}

{% block styles %}
  {{ super() }}
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="welcome-statement">Welcome to Duke University's Domestic Violence Data Pipeline Project</h1>
    <p class="collectionform-guidance-text">Please click on "Collection Form" in the menubar above to proceed. Or alternatively, click below:</p><br>

<div class="text-center">
    <a href="{{ url_for('collectionform') }}" class="btn btn-primary btn-lg">Collection Form</a>
</div>
{% endblock %}
