{% extends "base.html" %}

{% block styles %}
  {{ super() }}
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Duke University Domestic Violence Data Pipeline Project</h1>
      <p class="lead">Making North Carolina a safer and smarter place through data analysis for better decision-making</p>
      <hr class="my-4">
      <p id="please-click">Please click the button below to begin the data entry process.</p>
      <p class="lead">
        <a href="{{ url_for('collectionform') }}" class="btn btn-primary btn-lg">Collection Form</a>
      </p>
    </div>
    <div class="row ml-2 mr-2">
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">About our data protection and handling practices</h5>
            <p class="card-text">Learn more about how we are protecting and handling the data.</p>
            <a href="{{ url_for('disclosure') }}" class="btn btn-primary">Disclosure</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">About our research</h5>
            <p class="card-text">Learn more about what we do with the data we collect and how we can help you.</p>
            <a href="{{ url_for('research') }}" class="btn btn-primary">Research</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">About our team</h5>
            <p class="card-text">Learn more about our team and the people working on this project.</p>
            <a href="{{ url_for('team') }}" class="btn btn-primary">Team</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Contact us</h5>
            <p class="card-text">If you need to get in touch with us, please find it here.</p>
            <a href="{{ url_for('contact_us') }}" class="btn btn-primary">Contact</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
