{% extends "base-admin.html" %}

{% block content%}

<!-- Info -->
<div class="container">
    <div class="row col-12 py-5">
        <div class="col-lg-10 mx-auto">
            <div class="card rounded shadow border-0">
                <div class="card-body p-5 bg-white rounded">
                    <div class="table-responsive">
                        <table id="admin-dashboard" style="width:100%; text-align:center" class="table table-striped table-bordered">
                            <thead style="font-weight:bold">
                            {% for field in user_fields %}
                                <td>{{ field.replace('_', ' ').capitalize() }}</td>
                            {% endfor %}
                            <td> </td>
                            </thead>
                            {% for user in users %}
                            <tr>
                                {% for field in user_fields %}
                                    <th> {{ user[field] }}</th>
                                {% endfor %}
                                <th>
                                    <a class="btn btn-danger" href="/admin_profiles/delete/{{ user.id }}" onclick="return confirm('Are you sure you want to delete this profile?')" style="color:white;">Delete</a>
                                </th>
                            </tr> 
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Updates -->

{% endblock %}
