{% extends "base-admin.html" %}

{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='styles/table.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content%}

<!-- Info -->
<div class="container">
<h1 class="text-center my-5">User Profiles</h1>

    <div class="row col-12 py-5">
        <div class="col-lg-10 mx-auto">
                    <div class="table-responsive">
                        <table id="admin-dashboard" class="table table-bordered table-striped">
                            <thead>
                            {% for field in user_fields %}
                                <td>{{ field.replace('_', ' ').capitalize() }}</td>
                            {% endfor %}
                            <td> </td>
                            </thead>
                            <tbody>
                            {% for user in users %}
                            <tr>
                                {% for field in user_fields %}
                                    {% if field == 'role' %}
                                        <th>{{ user.role.name }}</th>
                                    {% else %}
                                        <th> {{ user[field] }}</th>
                                    {% endif %}
                                {% endfor %}
                                <th>
                                    <a class="btn btn-danger" href="/admin_profiles/delete/{{ user.id }}" onclick="return confirm('Are you sure you want to delete this profile?')" style="color:white;">Delete</a>
                                </th>
                            </tr> 
                            {% endfor %}
                            </tbody>    
                        </table>
                    </div>
        </div>
    </div>
</div>

<!-- Updates -->

{% endblock %}
