{% extends template %}
{% from 'bootstrap/form.html' import render_form %}

{% block styles %}
  {{ super() }}
    <link href="{{ url_for('static', filename='styles/collectionform.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">Register User</div>
                <div class="card-body">
                    <div>
                        {{ render_form(form, form_type="horizontal", horizontal_columns=("md", "4", "6"), button_style="outline-secondary", extra_classes="form_group, form-control-label") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}