{% extends template %}

{% block styles %}
  {{ super() }}
    <link href="{{ url_for('static', filename='styles/research.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer_Basic.css') }}">
{% endblock %}

{% block content %}
<div class="container">
<h1>Our Research</h1><br>
<h3>Prediction Modeling</h3>
<p >Our regular collection of data allows us to build models to predict future trends for domestic violence shelters. For example, we report seasonal changes, so that shelters have advance information of when they might expect a surge for their services.
    Knowing and acting on these trends not only helps shelters manage their resources more efficiently, but creates better outcomes for victims as well. We hope to deliver this knowledge at several levels: the shelter level, the county level, and
    the state level.</p>
<div><img src="{{ url_for('static', filename='img/Prediction_Modeling_Image.png') }}"></div><br>
<h3>Empirical Research and Other Purposes</h3>
<p >One of the problems that government agencies and domestic violence shelters frequently cite is the lack of real-world data to fully understand the domestic violence problem. We hope that through this collection, we are better able to draw conclusions
    as to what exactly is contributing to the growth of this problem. Statistical analysis may show that previously un-linked factors lead to an increase in victimization, or solidify previous conclusions so we are better able to tackle them. This
    data collection project will serve as the bedrock of that research. We guarantee that we will request permission to use the data you provide us explicitly.</p>
<div><img src="{{ url_for('static', filename='img/Empirical_Research_Image.png') }}"></div><br>
<h3>Awareness Raising</h3>
<p>The data that we collect will be used to generate data visualizations and to provide credibility to awareness-raising campaigns to educate the public on the severity of the problem. We will produce data visualizations and infographics using aggregate
    data for online and traditional media.</p>
<div><img src="{{ url_for('static', filename='img/Awareness_Raising.png') }}"></div>
</div>
{% endblock %}
